html {
    background-color: blueviolet;
    color: white;
}

a {
    color: white;
}

header {
    background-color: blueviolet;
}

body {
    background-color: blueviolet;
    font-family: sans-serif;

footer {
    background-color: blueviolet;
}
